<h1>Thanks for fliying with us, <%= @passenger.name %></h1>
<p>
    Your flight from <%=@flight.from_airport.code%> to <%=@flight.to_airport.code%> has been successfully booked.
</p>
<p>
    Booking ref. <%=@booking.id%>
</p>
<p>Regards!</p>

